/*#008000*/
* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    /*background: url(../images/ringeround_bg.gif);*/
    background: none #f5f5f5;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: auto;
    width: 800px;
}

@media screen and (max-width: 991px) {
    /* start of large tablet styles */

}

@media screen and (max-width: 767px) {
    /* start of medium tablet styles */
    body {
        width: 100%;
    }

}

@media screen and (max-width: 479px) {
    /* start of phone styles */
    body {
        width: 480px;
        background-size: 480px 100%;
    }
}

#img1 {
    margin: 10px;
    text-align: center;
    width: 200px;
}

#img2 {
    text-align: center;
    width: 400px;
    padding: 20px 20px 10px 20px;
}

.login {
    margin-top: 10%;
    width: auto;
    height: auto;
    text-align: center;
}

.home{
    display: none;
}

.login-form {
    background-size: 100px 100px;
    background-color: white;
    margin: 50px 10px 0 10px;
    padding: 30px;
    width: auto;
    height: auto;
    text-align: center;
    border-radius: 20px;
    color: green;
}

p{
    margin: 0 0 20px 0;
}

.control-group {
    margin-bottom: 10px;
}

select {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
    border: 3px solid transparent;
    border-radius: 7px;
    font-size: 12px;
    font-weight: 200;
    padding: 10px 0;
    width: 120px;
    height: 39px;
    transition: border .5s;
}

select:focus {
    border: 1.5px solid #2980B9;
    box-shadow: none;
}

input {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
    border: 3px solid transparent;
    font-size: 12px;
    font-weight: 200;
    height: 38px;
    transition: border .5s;
    border-radius: 10px;
}

input:focus {
    box-shadow: none;
}

.login-button {
    margin-top: 10px;
    width: 125px;
    font-weight: bold;
    background-color: white;
    color: green;
}

.login-button:hover {
    color: white;
    background-color: green;
}

#userid {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
    border: 3px solid transparent;
    font-size: 12px;
    font-weight: 200;
    height: 38px;
    transition: border .5s;
    border-radius: 10px;
    box-shadow: 0 0 3px green;
}

i.slogan{
    color: black;
    font-size: 14px;
}