*[hidden] {
    display: none;
}

/*
#canvas-container {
    overflow-x: auto;
    overflow-y: visible;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}
*/

.canvas {
    overflow: auto;
}

.canvas.hide {
    display: none;
}

#html-canvas > span {
    transition: text-shadow 1s ease, opacity 1s ease;
    -webkit-transition: text-shadow 1s ease, opacity 1s ease;
    -ms-transition: text-shadow 1s ease, opacity 1s ease;
}

#html-canvas > span:hover {
    text-shadow: 0 0 10px, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff;
    opacity: 0.5;
}

#box {
    pointer-events: none;
    position: absolute;
    box-shadow: 0 0 200px 200px rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    cursor: pointer;
}
/*
textarea { height: 20em; }

select { width: 100%; }
*/

#config-option {
    font-family: monospace;
}

#loading {
    animation: blink 2s infinite;
    -webkit-animation: blink 2s infinite;
}

.wordcloud_row{
    margin: 0 auto;
}

.tabbable {
    display: none;
}

.span6 {
    display: none;
}

.span12 {
    margin: 0 auto;
    float: none;
}

@-webkit-keyframes blink {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes blink {
    0% { opacity: 1; }
    100% { opacity: 0; }
}